<div id="mockup-wrapper" data-mockup-image class="displayBody">
  <svg viewbox="0 0 1500 900" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <line ng-repeat="bug in bugs | filter:{mockup:mockup._id}"
          x1="{{bug.startX}}" y1="{{bug.startY}}"
          x2="{{bug.endX + 150}}" y2="{{bug.endY + 30}}"></line>
  </svg>

  <p id="mockup" style="{{mockupStyle}}">
    <div ng-repeat="bug in bugs | filter:{mockup:mockup._id}"
         style="top:{{bug.endY}}px; left:{{bug.endX}}px;" id="bug-{{bug.number}}">
      <a ng-show="auth.email && auth.email == project.user"
        ng-click="deleteMockup(mockup)"
        class="link" id="deleteMockup"><i class="icon-trash"></i></a>
    </div>
  </p>
  <div id="bugs" ng-show="listMode">
    <div ng-repeat="mockupsummary in mockups"  class="bugList">
      <h4>
        <a ng-hide="mockupsummary._id==mockup._id"
           href="/{{project._id}}/{{mockupsummary._id}}">{{mockupsummary.name}}</a>
        <span ng-show="mockupsummary._id==mockup._id">» {{mockupsummary.name}}</span>
      </h4>
      <ul>
        <li ng-repeat="bug in bugs | filter:{mockup:mockupsummary._id}">{{$index + 1}}:
          <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{bug.number}}">bug
            {{bug.number}}</a> (at {{bug.endX}}x{{bug.endY}})
        </li>
      </ul>
    </div>
  </div>
</div>