<div id="project" class="displayHeader">
  <h1>{{project.name}}</h1>
  <a ng-show="email && email == project.user" ng-click="deleteProject(project)"
     id="deleteProject" class="link"><i class="icon-trash"></i></a>
  <br>
  <a ng-show="prevMockupId" class="link"
     ng-href="/{{project._id}}/{{prevMockupId}}">«</a>
  <span>{{mockup.name}}</span>
  <a ng-show="email && email == project.user"  ng-click="deleteMockup(mockup)"
     class="link" id="deleteMockup"><i class="icon-trash"></i></a>
  <a ng-show="nextMockupId" class="link"
     ng-href="/{{project._id}}/{{nextMockupId}}">»</a>
  <a ng-show="email && email == project.user && !nextMockupId"
     ng-click="addMockup(project)" class="link">+</a>
</div>