<div class="row">
  <div class="col-md-9">
    <table ng-show="project.mockups" class="table table-hover">
      <tbody>
        <tr ng-repeat="mockup in project.mockups">
          <td>
            <a class="projectTitle" ng-href="/p/{{ project._id }}/{{mockup_.id}}}"><strong>{{ mockup.name }}</strong></a><br/>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-3 sidebar">
    <h3>{{project.name}}</h3>
    <img src="http://avatars.io/email/{{project.user}}" height="36" width="36"></img>
    <i>{{project.user}}</i>
    <toggle-list title="'Products'" list="products" attribute="'name'" 
    selected="project.products"></toggle-list>
    <toggle-list title="'Themes'" list="themes" attribute="'name'" 
    selected="project.themes"></toggle-list>
  </div>
</div>