<div ng-show="auth.email" class="row">
  <div class="col-md-3">
    <div class="createBody">
      <form class="create-mockup" name="form">
      <div class="form-group">
        <label for="projectName">Project name</label>
        <input type="text" id="projectName" class="form-control" placeholder="New Project"
        required="true" ng-model="project.name">
      </div>
      <div class="form-group">
        <label for="mockupName">First mockup name</label>
        <input type="text" id="mockupName" class="form-control" placeholder="New Mockup"
        required="true" ng-model="project.mockup">
      </div>
        <div class="form-group">
          <button type="submit" class="btn btn-block btn-primary"
          ng-click="create(project)"
          ng-disabled="form.$invalid">Create Project</button>
          <button type="submit" class="btn btn-block btn-secondary"
          ng-click="reset()">Reset</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-3">
    <toggle-list title="'Themes'" list="themes" attribute="'name'" selected="selectedThemes" addable="true" addfn="createTheme"></toggle-list>
  </div>
  <div class="col-md-3">
    <toggle-list title="'Products'" list="products" attribute="'name'" selected="selectedProducts" addable="true" addfn="createProduct"></toggle-list>
  </div>
</div>
<div ng-show="!auth.email" class="row">
  <h3 class="text-center extra-muted">You must sign in to create a new project <i class="glyphicon glyphicon-user"></i>
</h3>
</div>
