<div class="row">
  <div class="col-md-9">
    <table ng-show="project.mockups" class="table table-hover">
      <tbody>
        <tr ng-repeat="mockup in project.mockups">
          <td>
            <a class="projectTitle" ui-sref="project.mockup({project_id: project._id, mockup_id: mockup._id})"><strong>{{ mockup.name }}</strong></a><br/>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-3 sidebar">{{projectChanged}}
    <div ng-show="project.user == auth.email">
      <form name="projectForm">
        <input type="text" name="name" ng-model="form.name">
        <img src="http://avatars.io/email/{{project.user}}" height="36" width="36"></img>
        <i>{{project.user}}</i>
        <toggle-list title="'Products'" list="products" attribute="'name'" 
        selected="form.products"></toggle-list>
        <toggle-list title="'Themes'" list="themes" attribute="'name'" 
        selected="form.themes"></toggle-list>
        <button ng-show="formChanged" ng-click="updateProject()" class="btn-block btn-primary" type="submit">Save Project</button>
      </form>

    </div>
    <div ng-show="project.user != auth.email">
      <h3>{{project.name}}</h3>
      <img src="http://avatars.io/email/{{project.user}}" height="36" width="36"></img>
      <i>{{project.user}}</i>
      <h3>Products</h3>
        <ul>
          <li ng-repeat="product in project.products">{{product.name}}</li>
        </ul>
      <h3>Themes</h3>
        <ul>
          <li ng-repeat="theme in project.themes">{{theme.name}}</li>
        </ul>
    </div>
  </div>
</div>