<div ng-show="loaded && project" class="row">
  <div class="col-md-8">
<h3>Mockups</h3>
    <div class="row mockup-form" ng-show="project.user == auth.email">
      <div class="col-md-10">
        <div class="input-group">
          <label for="newMockupText" class="sr-only control-label extra-muted">Mockup name</label>
          <input id="newMockupText" type="text" class="form-control" ng-model="mockupForm.name" placeholder="New mockup name">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="addMockup()" ng-disabled="!mockupForm.name">Add Mockup</button>
          </span>
        </div>
      </div>
      <div class="col-md-2">
        <button ng-show="!editing" class="btn btn-default" ng-click="edit()">Edit Mockups</button>
        <button ng-show="editing" class="btn btn-primary" ng-click="done()">Done Editing</button>
      </div>
    </div>

<table ng-show="project.mockups" class="table mockup-list">
  <thead>
    <th></th>
    <th class="bugNumber">Resolved</th>
    <th class="bugNumber">Assigned</th>
    <th class="bugNumber">Unassigned</th>
    <th ng-if="editing"></th>
  </thead>
  <tbody>
    <tr ng-repeat="mockup in project.mockups | active">
      <td>
        <a class="projectTitle" ng-show="!editing" ui-sref="app.project.mockup({project_slug: project.slug, mockup_slug: mockup.slug})"><strong>{{ mockup.name }}</strong></a>
        <div class="input-group" ng-show="editing">
          <input id="newMockupText" type="text" class="form-control" placeholder="Mockup name" ng-model="name" ng-init="name = mockup.name" />
          <span class="input-group-btn">
            <button ng-show="name != mockup.name" class="btn btn-default" type="button" ng-click="saveMockup(mockup, name)" ng-disabled="!mockup.name">Save</button>
          </span>
        </div>
      </td>
      <td class="bugNumber">{{resolved(mockup)}}</td>
      <td class="bugNumber">{{assigned(mockup)}}</td>
      <td class="bugNumber">{{unassigned(mockup)}}</td>
      <td ng-if="editing" class="control"><button class="btn btn-default btn-sm" ng-click="archive(mockup)">Archive</button></td>
    </tr>
  </tbody>
  <tfoot>
    <tr class="extra-muted doubleBorder">
      <td><strong>
      <ng-pluralize count="project.mockups.length"
           when="{'0': 'No mockups',
                  '1': '1 mockup',
                  'other': '{} mockups'}">
      </ng-pluralize>
      </strong></td>
      <td class="bugNumber"><strong>{{total.resolved}}</strong></td>
      <td class="bugNumber"><strong>{{total.assigned}}</strong></td>
      <td class="bugNumber"><strong>{{total.unassigned}}</strong></td>
    </tr>
  </tfoot>
</table>
<h3 ng-show="archivedMockups.length">Archived Mockups</h3>
<table ng-show="archivedMockups.length" class="table mockup-list">
  <tbody>
    <tr ng-repeat="mockup in archivedMockups">
      <td>
        <a class="projectTitle" ng-show="!editing" ui-sref="app.project.mockup({project_slug: project.slug, mockup_slug: mockup.slug})"><strong>{{ mockup.name }}</strong></a>
        <div class="input-group" ng-show="editing">
          <input id="newMockupText" type="text" class="form-control" placeholder="Mockup name" ng-model="name" ng-init="name = mockup.name" />
          <span class="input-group-btn">
            <button ng-show="name != mockup.name" class="btn btn-default" type="button" ng-click="saveMockup(mockup, name)" ng-disabled="!mockup.name">Save</button>
          </span>
        </div>
      </td>
      <td ng-if="editing" class="control"><button class="btn btn-default btn-sm" ng-click="unarchive(mockup)">Unarchive</button></td>
    </tr>
  </tbody>
</table>
  </div>
  <div class="col-md-3 col-md-offset-1 well">
    <div ng-show="project.user == auth.email">
      <form name="projectForm" role="form">
          <div class="form-group">
            <label for="project-title">Project Title</label>
            <input type="text" required class="form-control" id="project-title" placeholder="Enter Project Name" ng-model="form.name">
          </div>

        <div class="form-group">
          <label>
            <input type="checkbox" ng-model="form.archived"> Archived
          </label>
        </div>
        <div class="form-group">
          <!-- Allow for changing ownership of projects here someday? -->
          <img class="profile" src="http://avatars.io/email/{{project.user}}" height="36" width="36"></img>
          <i>{{project.user}}</i>
        </div>
        <div class="form-group">
          <toggle-list title="'Products'" list="products" attribute="'name'"
          selected="form.products" addfn="addProduct"></toggle-list>
        </div>
        <div class="form-group">
          <toggle-list title="'Themes'" list="themes" attribute="'name'"
          selected="form.themes" addfn="addTheme"></toggle-list>
        </div>
        <div class="form-group">
          <button ng-show="formChanged" ng-click="updateProject()" class="btn btn-block btn-primary" type="submit">Save Changes</button>
          <button ng-show="formChanged" ng-click="resetProject()" class="btn btn-block btn-secondary" type="submit">Reset</button>
        </div>
      </form>

    </div>
    <div ng-show="project.user != auth.email">
      <h1>{{project.name}}</h1>
      <div><span ng-show="project.archived" class="label label-default">Archived</span></div>
      <hr>
      <img class="profile" src="http://avatars.io/email/{{project.user}}" height="36" width="36"></img>
      <i>{{project.user}}</i>
      <hr>
      <div ng-show="project.products.length">
        <h3>Products</h3>
        <ul>
          <li ng-repeat="product in project.products">{{product.name}}</li>
        </ul>
      </div>
      <div ng-show="!project.products.length">
        <h6>No products associated with this project</h6>
      </div>
      <div ng-show="project.themes.length">
        <h3>Themes</h3>
        <ul>
          <li ng-repeat="theme in project.themes">{{theme.name}}</li>
        </ul>
      </div>
      <div ng-show="!project.products.length">
        <h6>No themes associated with this project</h6>
      </div>
    </div>
  </div>
</div>
<div ng-show="loaded && !project" class="row">
  <h3 class="text-center extra-muted">Can't find project at this URL</h3>
</div>
