<!DOCTYPE html>
<html lang="en" ng-app="foxographApp">
  <!-- Do I need class="ng-scope" ? -->
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="/r/styles/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/r/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/r/styles/bugzillaMockup.css" type="text/css" rel="stylesheet">
  </head>
  <body class="ng-scope" ng-controller="ProjectsCtrl" ng-init="email=<%= email %>"
    style="{{background}}" >
    <div class="main-header">
      <!-- Project Menu -->
      <div id="projects">
        <!-- Should have a "." in the ng-model, I think, maybe. -->
        <input type="text" placeholder="Filter projects…" data-ng-model="projectSearch"
               style="padding-bottom: 0; margin-bottom: 0"><br>
        <select id="project-list" ng-model="selectedProject" ng-change="onProjectSelect()"
                style="padding-top: 0; margin-top: 0"
                ng-options="'[' + c.user + '] ' + c.name for c in projects | filter:projectSearch">
          <option ng-show="email" value="">Create New Project</option>
        </select>
      </div>

      <!-- Current Project, and mockup. -->
      <div id="project">
        <h1 class="ng-binding">{{project.name || "Please select a project."}}</h1>
        <a ng-show="email && email == project.user" class="link"
           id="deleteProject"><i class="icon-trash"></i></a>
        <br>
        <a ng-show="prevMockupId" class="link"
           ng-href="/{{project._id}}/{{prevMockupId}}">«</a>
        <span>{{mockup.name}}</span>
        <a ng-show="email && email == project.user" class="link"
           id="deleteMockup"><i class="icon-trash"></i></a>
        <a ng-show="nextMockupId" class="link"
           ng-href="/{{project._id}}/{{nextMockupId}}">»</a>
        <a ng-show="email && email == project.user && !nextMockupId" class="link">+</a>
      </div>

      <!-- User box -->
      <user></user>

    </div>

    <div ng-show="email && !selectedProject" ng-controller="NewMockupCtrl">
      <form id="create-mockup" name="form" class="form-horizontal">
        <div class="control-group">
          <label class="control-label" for="inputName">Project name</label>
          <div class="controls">
            <input type="text" id="inputName" placeholder="New Project"
              required="true" ng-model="project.name">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputName">First Mockup name</label>
          <div class="controls">
            <input type="text" id="inputName" placeholder="New Mockup"
              required="true" ng-model="project.mockup">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary"
              ng-click="create(project)"
              ng-disabled="form.$invalid">Create Project</button>
            <button type="submit" class="btn"
              ng-click="reset()">Reset</button>
          </div>
        </div>
      </form>
    </div>

    <div id="mockup-wrapper" ng-show="project" ng-controller="MockupCtrl" data-mockup-image>
      <svg viewbox="0 0 1500 900" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <line ng-repeat="bug in bugs | filter:{mockup:mockup._id}"
              x1="{{bug.startX}}" y1="{{bug.startY}}"
              x2="{{bug.endX + 150}}" y2="{{bug.endY + 30}}"></line>
      </svg>

      <p id="mockup" style="{{mockupStyle}}">
        <div ng-repeat="bug in bugs | filter:{mockup:mockup._id}"
             style="top:{{bug.endY}}px; left:{{bug.endX}}px;" id="bug-{{bug.number}}">
        </div>
      </p>
      <div id="bugs" ng-show="listMode">
        <div ng-repeat="mockupsummary in mockups"  class="bugList">
          <h4>
            <a ng-hide="mockupsummary._id==mockup._id"
               href="/{{project._id}}/{{mockupsummary._id}}">{{mockupsummary.name}}</a>
            <span ng-show="mockupsummary._id==mockup._id">» {{mockupsummary.name}}</span>
          </h4>
          <ul>
            <li ng-repeat="bug in bugs | filter:{mockup:mockupsummary._id}">{{$index + 1}}:
              <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{bug.number}}">bug
                {{bug.number}}</a> (at {{bug.endX}}x{{bug.endY}})
            </li>
          </ul>
        </div>
      </div>
    </div>

    <script src="/r/js/lib/jquery/jquery.js" type="text/javascript"></script>
    <script src="/r/js/lib/bugzillaMockup.js" type="text/javascript"></script>
    <script src="/r/js/lib/lodash/dist/lodash.js" type="text/javascript"></script>
    <script src="https://login.persona.org/include.js" type="text/javascript"></script>
    <script src="/r/js/lib/angular/angular.js" type="text/javascript"></script>
    <script src="/r/js/lib/restangular/dist/restangular.js"
      type="text/javascript"></script>
    <script src="/r/js/lib/angular-tools/persona.js" type="text/javascript"></script>
    <script src="/r/js/lib/angular-tools/image.js" type="text/javascript"></script>
    <script src="/r/js/app.js" type="text/javascript"></script>
    <script src="/r/js/services.js" type="text/javascript"></script>
    <script src="/r/js/controllers.js" type="text/javascript"></script>
    <script src="/r/js/filters.js" type="text/javascript"></script>
    <script src="/r/js/directives.js" type="text/javascript"></script>
  </body>

  <canvas id="background-canvas" width="1" height="1"></canvas>
</html>