<!DOCTYPE html>
<html lang="en" ng-app="foxographApp">
  <!-- Do I need class="ng-scope" ? -->
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/r/js/lib/bootstrap/dist/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="/r/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/r/styles/bugzillaMockup.css" type="text/css" rel="stylesheet">
  </head>
  <body class="ng-scope" ng-init="auth = {email:<%= email %>}"
    style="{{background}}" >

    <ui-view></ui-view>

    <!-- Third-party library code -->
    <script src="/r/js/lib/jquery/jquery.js" type="text/javascript"></script>
    <script src="/r/js/lib/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
    <script src="/r/js/lib/lodash/dist/lodash.js" type="text/javascript"></script>
    <script src="https://login.persona.org/include.js" type="text/javascript"></script>
    <script src="/r/js/lib/angular/angular.js" type="text/javascript"></script>
    <script src="/r/js/lib/restangular/dist/restangular.js"
      type="text/javascript"></script>
    <script src="/r/js/lib/angular-ui-router/release/angular-ui-router.js"></script>

    <!-- First-party library code -->
    <script src="/r/js/lib/angular-tools/persona.js" type="text/javascript"></script>
    <script src="/r/js/lib/angular-tools/image.js" type="text/javascript"></script>

    <!-- App code -->
    <script src="/r/js/app.js" type="text/javascript"></script>
    <script src="/r/js/services.js" type="text/javascript"></script>
    <script src="/r/js/directives/bugPanel.js" type="text/javascript"></script>
    <script src="/r/js/directives/mockupImage.js" type="text/javascript"></script>
    <script src="/r/js/directives/toggleList.js" type="text/javascript"></script>
    <script src="/r/js/controllers/AppCtrl.js" type="text/javascript"></script>
    <script src="/r/js/controllers/DashboardCtrl.js" type="text/javascript"></script>
    <script src="/r/js/controllers/ProfileCtrl.js" type="text/javascript"></script>
    <script src="/r/js/controllers/ProductsCtrl.js" type="text/javascript"></script>
    <script src="/r/js/controllers/ProjectMockupCtrl.js" type="text/javascript"></script>
    <script src="/r/js/controllers/ProjectNewCtrl.js" type="text/javascript"></script>
    <script src="/r/js/controllers/ProjectShowCtrl.js" type="text/javascript"></script>

    <script src="/r/js/filters.js" type="text/javascript"></script>
  </body>

  <canvas id="background-canvas" width="1" height="1"></canvas>
</html>
