@charset "utf-8";
/* CSS Document */

a {
  color:white;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

.bugList {
  margin: 1em;
}

.panel, .bugList {
  background:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.65)), to(rgba(0,0,0,0.75)));
  background:-moz-linear-gradient(top,rgba(0,0,0,0.65),rgba(0,0,0,0.75));
  color:white;
  padding:6px 6px 6px 6px;
  box-shadow:4px 4px 4px rgba(0,0,0,0.25);
  border-radius:6px;
  font-family:Segoe UI, Arial, Helvetica, sans-serif;
  font-size:12px;
}

.panel {
  -moz-transition-property:opacity;
  -moz-transition-duration:2s;
  opacity:0;
  position:absolute;
  z-index:1;
}

.loading {
  opacity:100;
  width:320px;
  height:40px;
}

.done {
  opacity:100;
  width:320px;
  height:auto;
}

div.complete {
  box-shadow:inset 0px 0px 12px rgba(0,255,0,0.50), 4px 4px 4px rgba(0,0,0,0.25);
  border:2px solid rgba(0,255,0,0.50);
}

div.grassRoots {

}

div.atRisk {
  box-shadow:inset 0px 0px 12px rgba(255,0,0,0.50), 4px 4px 4px rgba(0,0,0,0.25);
  border:2px solid rgba(255,0,0,0.50);
}

div.nominated {
  box-shadow:inset 0px 0px 12px rgba(255,255,0,0.50), 4px 4px 4px rgba(0,0,0,0.25);
  border:2px solid rgba(255,255,0,0.50);
}

div.duplicate {
  box-shadow:inset 0px 0px 12px rgba(255,0,255,0.50), 4px 4px 4px rgba(0,0,0,0.25);
  border:2px solid rgba(255,0,255,0.50);
}

div.blocking {
  box-shadow:inset 0px 0px 12px rgba(0,255,255,0.50), 4px 4px 4px rgba(0,0,0,0.25);
  border:2px solid rgba(0,255,255,0.50);
}

span.complete {
  font-weight:bold;
  color:rgba(0,255,0,0.75);
}

span.grassRoots {
  font-weight:bold;
}

span.atRisk {
  font-weight:bold;
  color:rgba(255,0,0,0.75);
}

span.nominated {
  font-weight:bold;
  color:rgba(255,255,0,0.75);
}

span.duplicate {
  font-weight:bold;
  color:rgba(255,0,255,0.75);
}

span.blocking {
  font-weight:bold;
  color:rgba(0,255,255,0.75);
}

span.active {

}

span.inactive {
  color:rgba(255,255,255,0.75);
  font-style: italic;
}

span.rejected {
  color:rgba(255,255,255,0.75);
  font-style: italic;
}

/*Header Navigation based on the new mozilla.com*/

#header {
    /*background: -moz-linear-gradient(center bottom , #2A4187 0%, #3B69B1 100%) repeat scroll 0 0 transparent;*/
    position:absolute;
  z-index:1;
  top: 10px;
  left: 10px;
  background:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.65)), to(rgba(0,0,0,0.75)));
  background:-moz-linear-gradient(top,rgba(0,0,0,0.65),rgba(0,0,0,0.75));
  border-radius: 6px 6px 6px 6px;
    box-shadow:4px 4px 4px rgba(0,0,0,0.25);
    font-family:Segoe UI, Arial, Helvetica, sans-serif;
    height: 40px;
  width: 420px;
    margin: 0 0px;
    text-align: center;
}
#header h1 {
    float: left;
    margin: 0;
}
#header h1 a, #header h1 a:link, #header h1 a:visited, #footer h3 a, #footer h3 a:link, #footer h3 a:visited {
    -moz-transition: background 0.2s ease-in-out 0s;
    display: block;
    font-size: 1px;
    height: 40px;
    overflow: hidden;
    text-indent: -200px;
    width: 110px;
}
#header h1 a:hover, #header h1 a:active, #footer h3 a:hover, #footer h3 a:active {
    -moz-transition: background 0.2s ease-in-out 0s;
}
#nav-main {
    display: inline-block;
    text-align: left;
}
#nav-main, #nav-main ul, #nav-main li {
    list-style: none outside none;
}
#nav-main ul {
    float: left;
    left: auto;
    margin: 0;
    padding: 0;
    z-index: 99;
}
#nav-main li {
    background: none repeat scroll 0 0 transparent;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}
#nav-main a, #nav-main span {
    color: #FFFFFF;
    display: block;
  font-family:Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 13px;
}
#nav-main ul {
    border-left: 1px solid #000000;
    border-right: 1px solid #FFFFFF;
}
#nav-main ul {
    border-left-color: rgba(0, 0, 0, 0.5);
    border-right-color: rgba(255, 255, 255, 0.25);
}
#nav-main ul li a, #nav-main ul li span {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #000000;
    display: block;
    float: left;
    height: 30px;
    padding: 10px 20px 0;
}
#nav-main ul li a {
    border-left-color: rgba(255, 255, 255, 0.25);
    border-right-color: rgba(0, 0, 0, 0.5);
}
#nav-main li ul {
    left: -999em;
    opacity: 0;
    position: absolute;
}
#nav-main li:hover ul, #nav-main li.sfHover ul {
    -moz-transition: opacity 0.2s ease-in-out 0s;
    left: 0;
    margin-top: 40px;
    opacity: 1;
}
#nav-main ul li ul li {
    float: none;
}
#nav-main ul li a, #nav-main ul li a:link, #nav-main ul li a:visited {
    -moz-transition: background 0.2s linear 0s;
    color: #FFFFFF;
    text-decoration: none;
}
#nav-main ul li a:hover, #nav-main ul li a:active, #nav-main ul li a.yuimenubaritemlabel-selected {
    -moz-transition: background 0.1s ease-in 0s;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.33);
    color: #FFFFFF;
}
#nav-main ul li.current span, #nav-main ul li.current a, #nav-main ul li.current a:link, #nav-main ul li.current a:visited {
    height: 33px;
}
#nav-main ul li li.current span, #nav-main ul li li.current a, #nav-main ul li li.current a:link, #nav-main ul li li.current a:visited, #nav-main ul li.current li a, #nav-main ul li.current li a:link, #nav-main ul li.current li a:visited {
    box-shadow: none;
    height: auto;
}
#nav-main ul li.current a:hover, #nav-main ul li.current a:active {
    box-shadow: 0 -5px rgba(0, 0, 0, 0.75) inset;
}
#nav-main ul li.current {
/*    border-bottom: 4px solid #5784BF;
    box-shadow: 0 -5px #669BE1 inset;*/
}
#nav-main ul ul li.current {
    border-bottom: 0 none;
    box-shadow: none;
}
#nav-main ul ul, #nav-main ul ul li {
    border: 0 none;
    height: auto;
}
#nav-main ul ul {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
    border-top: 0 none;
    box-shadow:4px 4px 4px rgba(0,0,0,0.25);
    padding: 0 0 4px;
/*    text-shadow: 1px 1px 0 #1B3B6A, 0 0 5px #1B3B6A;*/
    width: 190px;
}
#nav-main ul li ul li a, #nav-main ul li ul li a:link, #nav-main ul li ul li a:visited, #nav-main ul li ul li span {
    -moz-transition: background 0.1s ease-in 0s;
    background-image: none;
    border: 0 none;
    display: block;
    float: none;
    font-size: 11px;
    font-weight: normal;
    height: auto;
    margin: 0;
    padding: 5px 15px;
    position: relative;
    text-transform: none;
}
#nav-main ul li ul li a:hover, #nav-main ul li ul li a:active {
    -moz-transition: background 0.1s ease-out 0s;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.33);
    border-bottom: 1px solid rgba(255, 255, 255, 0.33);
    border-top: 1px solid rgba(0, 0, 0, 0.33);
    padding-bottom: 4px;
    padding-top: 4px;
}
