@charset "utf-8";
/* CSS Document */

/* bugList is never visible */

.bugList {
  margin: 1em;
}

.bug-panel{
  background:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.65)), to(rgba(0,0,0,0.75)));
  background:-moz-linear-gradient(top,rgba(0,0,0,0.65),rgba(0,0,0,0.75));
  color:white;
  padding:6px 6px 6px 6px;
  box-shadow:4px 4px 4px rgba(0,0,0,0.25);
  border-radius:6px;
  font-family:Segoe UI, Arial, Helvetica, sans-serif;
  font-size:12px;
}

.bug-panel {
  position: absolute;
  -moz-transition-property:opacity;
  -moz-transition-duration:0.5s;
  opacity:0;
  position:absolute;
  z-index:1;
}

.bug-panel a {
  cursor: pointer;
}

.bug-panel.authorized {
  cursor: grab;
}

.bug-panel.authorized.dragging {
  cursor: grabbing;
}


.loading {
  opacity:100;
  width:320px;
  height:60px;
}

.done {
  opacity:100;
  width:320px;
  height:auto;
}

.loading img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

div.complete {
  box-shadow:inset 0px 0px 12px rgba(0,255,0,0.50), 4px 4px 4px rgba(0,0,0,0.25);
  border:2px solid rgba(0,255,0,0.50);
}

div.grassRoots {

}

div.atRisk {
  box-shadow:inset 0px 0px 12px rgba(255,0,0,0.50), 4px 4px 4px rgba(0,0,0,0.25);
  border:2px solid rgba(255,0,0,0.50);
}

div.nominated {
  box-shadow:inset 0px 0px 12px rgba(255,255,0,0.50), 4px 4px 4px rgba(0,0,0,0.25);
  border:2px solid rgba(255,255,0,0.50);
}

div.duplicate {
  box-shadow:inset 0px 0px 12px rgba(255,0,255,0.50), 4px 4px 4px rgba(0,0,0,0.25);
  border:2px solid rgba(255,0,255,0.50);
}

div.blocking {
  box-shadow:inset 0px 0px 12px rgba(0,255,255,0.50), 4px 4px 4px rgba(0,0,0,0.25);
  border:2px solid rgba(0,255,255,0.50);
}

span.complete {
  font-weight:bold;
  color:rgba(0,255,0,0.75);
}

span.grassRoots {
  font-weight:bold;
}

span.atRisk {
  font-weight:bold;
  color:rgba(255,0,0,0.75);
}

span.nominated {
  font-weight:bold;
  color:rgba(255,255,0,0.75);
}

span.duplicate {
  font-weight:bold;
  color:rgba(255,0,255,0.75);
}

span.blocking {
  font-weight:bold;
  color:rgba(0,255,255,0.75);
}

span.active {

}

span.inactive {
  color:rgba(255,255,255,0.75);
  font-style: italic;
}

span.rejected {
  color:rgba(255,255,255,0.75);
  font-style: italic;
}