@font-face{
  font-family:'Open Sans';
  font-style:normal;
  font-weight:400;
  src:url('../fonts/OpenSans-Regular.eot');
  src:local('Open Sans'),local('OpenSans'),url('../fonts/OpenSans-Regular.eot') format('embedded-opentype'),url('../fonts/OpenSans-Regular.woff') format('woff'),url('../fonts/OpenSans-Regular.ttf') format('truetype')
}

@font-face{
  font-family:'Open Sans';
  font-style:normal;
  font-weight:300;
  src:url('../fonts/OpenSans-Light.eot');
  src:local('Open Sans Light'),local('OpenSans-Light'),url('../fonts/OpenSans-Light.eot') format('embedded-opentype'),url('../fonts/OpenSans-Light.woff') format('woff'),url('../fonts/OpenSans-Light.ttf') format('truetype')
}

@font-face{
  font-family:'Open Sans';
  font-style:normal;
  font-weight:700;
  src:url('../fonts/OpenSans-Bold.eot');
  src:local('Open Sans Bold'),local('OpenSans-Bold'),url('../fonts/OpenSans-Bold.eot') format('embedded-opentype'),url('../fonts/OpenSans-Bold.woff') format('woff'),url('../fonts/OpenSans-Bold.ttf') format('truetype')
}

html {
  height: 100%;
}

body {
  font: 14px/21px 'Open Sans',"Lucida Sans","Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
  height: 100%;
  background-color: #DBDBDB;
}

.main-header {
  position: fixed;
  z-index: 2;
  width: calc(100% - 40px);
  height: 80px;
  padding: 0 20px;
  background: #eee;
}

.main-header > div {
  display: inline-block;
  width: 33%;
  vertical-align: text-bottom;
}

#project {
  text-align: center;
}

#user {
  margin-top: 28px;
  cursor: pointer;
  text-align: right;
  float: right;
  width: auto;
  height: 32px;
}

#user > * {
  margin-top: -5px;
}

#project a {
  color: #00B7FF;
}

canvas {
  margin: 0;
  padding: 0;
  display: none;
}

.main-header h1 {
  display: inline-block;
}

.main-header .link {
  background-repeat: no-repeat;
  background-position: left top;

  margin: 4px;
  padding: 0px 4px;
  vertical-align: baseline;
  white-space: normal;
  background: transparent padding-box;
  border: 1px solid transparent;
  border-radius: 2.5px;
  color: #525c66;
  cursor: pointer;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 150ms;
}

.main-header .link:hover {
  background-color: hsla(211,79%,6%,.03);
  border-color: hsla(210,54%,20%,.15) hsla(210,54%,20%,.17) hsla(210,54%,20%,.2);
}

.main-header .link:hover:active {
  background-image: -moz-linear-gradient(hsla(211,79%,6%,.02), hsla(211,79%,6%,.05));
  border-color: hsla(210,54%,20%,.2) hsla(210,54%,20%,.23) hsla(210,54%,20%,.25);
  box-shadow: 0 1px 1px hsla(211,79%,6%,.05) inset,
              0 0 1px hsla(211,79%,6%,.1) inset;
  transition-duration: 0ms;
}

#deleteProject {
  vertical-align: baseline;
}

#create-mockup,
#mockup-wrapper {
  width: 100%;
  height: calc(100% - 60px);
  position: relative;
  top: 80px;
  left: 0;
}

#create-mockup {
  padding: 10vh 10vw;
}

#mockup-wrapper svg {
  position: absolute;
  top: 6px;
  width: 1500px;
  height: 900px;
}

#mockup-wrapper line {
  stroke: #000000;
  stroke-width:1;
}

#mockup {
  background-repeat: no-repeat;
  cursor: crosshair;
}

#mockup-wrapper.hover #mockup {
  opacity: .1;
}

#bugs {
  background: #DDD;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  padding: 1em;
}

.bug {
  position: absolute;
}

.bug-line {
    width: 1px;
    height: 1px;
    background: black;
    position: absolute;
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
}

.deleteBug {
  float: right;
}

.button.login {
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  width: 3em;
  border: 0;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(0, 0, 0, 0.2);

  padding: 6px 45px 7px 10px;
  background-color: #4eb5e5;
  background-image:url('../images/button-arrow.png');
  background-image:url('../images/button-arrow.png'),-webkit-gradient(linear,left top,left bottom,from(#4eb5e5),to(#3196cf));
  background-image:url('../images/button-arrow.png'),-webkit-linear-gradient(top,#4eb5e5,#3196cf);
  background-image:url('../images/button-arrow.png'),-moz-linear-gradient(top,#4eb5e5,#3196cf);
  background-image:url('../images/button-arrow.png'),-ms-linear-gradient(top,#4eb5e5,#3196cf);
  background-image:url('../images/button-arrow.png'),-o-linear-gradient(top,#4eb5e5,#3196cf);
  background-image: url('../images/button-arrow.png'), linear-gradient(top, #4eb5e5, #3196cf);
  background-repeat: no-repeat, no-repeat;
  background-position: center right, center;
}

.button.login:hover, .button.login:focus {
  background-color:#4aafe5;
  background-image:url('../images/button-arrow-hover.png');
  background-image:url('../images/button-arrow-hover.png'),-webkit-gradient(linear,left top,left bottom,from(#4aafe5),to(#2c89c8));
  background-image:url('../images/button-arrow-hover.png'),-webkit-linear-gradient(top,#4aafe5,#2c89c8);
  background-image:url('../images/button-arrow-hover.png'),-moz-linear-gradient(top,#4aafe5,#2c89c8);
  background-image:url('../images/button-arrow-hover.png'),-ms-linear-gradient(top,#4aafe5,#2c89c8);
  background-image:url('../images/button-arrow-hover.png'),-o-linear-gradient(top,#4aafe5,#2c89c8);
  background-image: url('../images/button-arrow-hover.png'), linear-gradient(top, #4aafe5, #2c89c8);
}

.button.login:active {
  background-color:#184a73;
  background-image:url('../images/button-arrow-active.png'),-webkit-gradient(linear,left top,left bottom,from(#184a73),to(#276084));
  background-image:url('../images/button-arrow-active.png'),-webkit-linear-gradient(top,#184a73,#276084);
  background-image:url('../images/button-arrow-active.png'),-moz-linear-gradient(top,#184a73,#276084);
  background-image:url('../images/button-arrow-active.png'),-ms-linear-gradient(top,#184a73,#276084);
  background-image:url('../images/button-arrow-active.png'),-o-linear-gradient(top,#184a73,#276084);
  background-image: url('../images/button-arrow-active.png'), linear-gradient(top, #184a73, #276084);
}
