@font-face{
  font-family:'Open Sans';
  font-style:normal;
  font-weight:400;
  src:url('../fonts/OpenSans-Regular.eot');
  src:local('Open Sans'),local('OpenSans'),url('../fonts/OpenSans-Regular.eot') format('embedded-opentype'),url('../fonts/OpenSans-Regular.woff') format('woff'),url('../fonts/OpenSans-Regular.ttf') format('truetype')
}

@font-face{
  font-family:'Open Sans';
  font-style:normal;
  font-weight:300;
  src:url('../fonts/OpenSans-Light.eot');
  src:local('Open Sans Light'),local('OpenSans-Light'),url('../fonts/OpenSans-Light.eot') format('embedded-opentype'),url('../fonts/OpenSans-Light.woff') format('woff'),url('../fonts/OpenSans-Light.ttf') format('truetype')
}

@font-face{
  font-family:'Open Sans';
  font-style:normal;
  font-weight:700;
  src:url('../fonts/OpenSans-Bold.eot');
  src:local('Open Sans Bold'),local('OpenSans-Bold'),url('../fonts/OpenSans-Bold.eot') format('embedded-opentype'),url('../fonts/OpenSans-Bold.woff') format('woff'),url('../fonts/OpenSans-Bold.ttf') format('truetype')
}

html {
  height: 100%;
}

body {
  font: 14px/21px 'Open Sans',"Lucida Sans","Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
  height: 100%;
  padding-top: 70px;
}

nav {
  height: 49px;
}

h1 {
  margin-top: 0;
}

img.profile {
  border-radius: 50%;
  border: 3px solid #eee;
}

.extra-muted {
    color: #999;
}

.pasteboard {
  position: relative;
  width: 1100px;
  height: 600px;
  background-color: #F8F8F8;
  border: 1px solid #E7E7E7;
  border-radius: 2px;
}

.pasteboard svg {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
}

.pasteboard svg.authorized {
  cursor: crosshair;
}

.pasteboard svg.authorized.dragging {
  cursor: grabbing;
}

.pasteboard.dragging {
  border: 5px dashed #E7E7E7;
}

.mockup-message {
  position: absolute;
  height: 400px;
  width: 900px;
  top: 100px;
  left: 100px;
  text-align: center;
  text-shadow: rgb(224, 224, 224) 1px 1px 0px;
}

.mockup-message .glyphicon{
  font-size: 144px;
  margin-bottom: 50px;
}

.mockup-message p {
  font-size: 48px;
  font-weight: 300;
}

/* toggle-list stuff requires bootstrap */

.toggle-list a {
  cursor:pointer;
}

.toggle-list.panel-title {
  display: inline-block;
}

.toggle-list.text-label{
    font-weight: bold;
    font-size: 10px;
    color: #343536;
    padding: 0 3px;
    text-transform: uppercase;
}

.toggle-list.list-group-item {
  position: relative;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #DDD;
  margin: 0;
}

.toggle-list.list-group-item span.title {
    font-size: 12px;
    width: 90%;
    display: block;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.toggle-list.list-group-item.on span.title {
    font-weight: bold;
}

.toggle-list.list-group-item .circle {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #DDD;
    background-color: white;
    right: 10px;
    top: 15px;
}

.toggle-list.list-group-item.on .circle {
    background-color: #A3ED2B;
    border-color: #A3ED2B;
}
