body {
  margin: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  background-color: #DBDBDB;
}

a {
  color: #00B7FF;
}

#newMockup {
  display: none;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  background-repeat: no-repeat;
}

.background.hover {
  opacity: .1;
}